.customFont {
    font-family: Kalpurush;
}

.container-fluid {
    margin-top: 1%;
    margin-bottom: 50px;
    width: 90%;
}

mat-card {
    max-height: 95%;
    margin-bottom: 0px;
    border-radius: 15px;
    background-color: whitesmoke;
    /* background-color: rgb(232, 243, 246); */
}

mat-card-title {
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}

mat-card-content {
    font-size: 1.1rem;
    line-height: 25px;
    height: 200px;
    overflow-y: scroll;
    padding: 10px 15px 15px 15px;
}