<mat-toolbar color="primary">
  <!-- first row -->
  <mat-toolbar-row class="mat-elevation-z6 navbar">
    <img src="../assets/img/sssa.jpg" class="img-responsive" class="float-left logo1" />
    <!-- nested toolbar for heading and sub-heading  -->
    <mat-toolbar color="primary" style="width: 30%;">
      <mat-toolbar-row class="nestedToolbarHeading customFont">
        <div>{{headerTitle}}</div>
      </mat-toolbar-row>
      <mat-toolbar-row class="nestedToolbarSubheading customFont">
        <div>{{headerSubtitle}}</div>
      </mat-toolbar-row>
    </mat-toolbar>
    <img src="../assets/img/vb.png" class="img-responsive" class="float-right logo2" />
  </mat-toolbar-row>
  <!--second row-->
  <mat-toolbar-row class="mat-elevation-z5" style="max-height: 50px;">
    <button mat-raised-button class="customFont" style="font-weight: 700;" routerLink="/home"
      routerLinkActive="active">{{home}}</button>
    <button mat-raised-button class="customFont" style="font-weight: 700;" routerLink="/representatives"
      routerLinkActive="active">{{representatives}}</button>
    <button mat-raised-button class="customFont" style="font-weight: 700;" routerLink="/activities"
      routerLinkActive="active">{{activities}}</button>
    <button mat-raised-button class="customFont" style="font-weight: 700;" routerLink="/listofex"
      routerLinkActive="active">{{listOfEx}}</button>
    <button mat-raised-button class="customFont" style="font-weight: 700;" routerLink="/about-and-contact"
      routerLinkActive="active">{{about}}</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<footer class="fixed-bottom customFooter">
  <div class="footer-copyright text-center">©২০২১-২০২৩ স্বত্ব-সংৰক্ষিত
    <div style="font-weight: 550; font-size: 1rem;">praktanchatrabharati-ssvnk.com
    </div>
  </div>
</footer>