<div class="container-fluid">
    <!-- <mat-accordion multi="true"> -->
    <div *ngFor="let batch of exStudentMap.keys()">
        <mat-expansion-panel #thisPanel class="mat-elevation-z4"
            style="border-radius: 15px; margin-bottom: 15px; background-color:whitesmoke;">
            <mat-expansion-panel-header class="mat-elevation-z3"
                style="margin-bottom: 10px;  background-color: whitesmoke">
                <mat-panel-title>
                </mat-panel-title>
                <mat-panel-description style="color: black; font-weight: 600;" class="customFont">
                    বৰ্ষ: {{batch}}
                </mat-panel-description>
                <span *ngIf="thisPanel.expanded" class="mat-elevation-z2 customFont closed">বন্ধ
                    কৰক</span>
                <span *ngIf="!thisPanel.expanded" class="mat-elevation-z2 customFont opened">খোলক</span>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="row no-gutters customFont" style="margin-top: 2px;">
                    <div *ngFor="let name of exStudentMap.get(batch)" class="col-md-2 col-sm-3 col-xs-6 exStudentName">
                        <span>{{name}}</span>
                    </div>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </div>
    <!-- </mat-accordion> -->
    <div class="customFont">
        <div class="footNoteEx">{{footNoteExList}}</div>
        <div class="footNoteMissingEx">{{footNoteMissingExList}}</div>
    </div>
</div>